<div class="row">
  <div class="large-6 large-offset-6 columns">
  <%= form_for(@shirt) do |f| %>

      <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image, class: "form-control" %>
      </div>

      <div class="small-12 large-11 large-centered columns "> 
        <%= f.submit "Order Shirt", class: "small button primary expand" %>
      </div>

    <% end %>
  </div>
</div>
